<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Beach Name</th>
      <th>Water Quality</th>
      <th>Beach Length</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each location.beaches}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{waterQuality}}
        </td>
        <td>
          {{beachLength}}
        </td>
        <td>
          <a href="/location/{{../location._id}}/deletebeach/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
